{{#if this.model.isTimespecializationOf}}
  {{#if this.mandateesByPerson}}
    {{!-- bestuursorgaan niveau 3--}}
    <div resource={{this.model.uri}} typeof={{this.model.rdfaBindings.class}}>
      <AuHeading class="au-u-margin-bottom-large">
        <span>
          <span property={{this.model.rdfaBindings.name}}>
            {{this.model.name}}
          </span>
        </span>
        <span rel={{this.model.rdfaBindings.startDate}} resource={{this.model.startDate.uri}}
          typeof={{this.model.startDate.rdfaBindings.class}}>
          <span property={{this.model.startDate.rdfaBindings.time}} datatype="xsd:date">
            {{moment-format this.model.startDate.time 'DD/MM/YYYY'}}
          </span>
        </span>
        -
        <span rel={{this.model.rdfaBindings.endDate}} resource={{this.model.endDate.uri}}
          typeof={{this.model.endDate.rdfaBindings.class}}>
          <span property={{this.model.endDate.rdfaBindings.time}} datatype="xsd:date">
            {{if this.model.endDate (moment-format this.model.endDate.time 'DD/MM/YYYY') 'heden'}}
          </span>
        </span>
      </AuHeading>
      <p class="au-u-h3 metis-u-text-gray-600" rel={{this.model.rdfaBindings.isTimespecializationOf}}
        resource={{this.model.isTimespecializationOf.uri}}
        typeof={{this.model.isTimespecializationOf.rdfaBindings.class}}>
        Tijdspecialisatie van
        <ThemisUri @uri={{this.model.isTimespecializationOf.uri}}>
          <span property={{this.model.isTimespecializationOf.rdfaBindings.name}}>
            {{this.model.isTimespecializationOf.name}}
          </span>
        </ThemisUri>
      </p>
      <AuHr />
      <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
        Mandatarissen
      </AuHeading>
      <p class="au-u-margin-bottom">
        Samenstelling van de regering
        <span>
          {{this.model.name}}
        </span>
      </p>
      <div class="au-o-grid">
        {{#each (sort-by "meanMandateePriority" this.mandateesByPerson) as |person|}}
          <div class="au-o-grid__item au-u-1-2" resource={{person.person.uri}}
            typeof={{person.person.rdfaBindings.class}}>
            <AuCard as |c|>
              <c.header>
                <AuHeading @level="2" @skin="4">
                  <ThemisUri @uri={{person.person.uri}}>
                    <span property={{person.person.rdfaBindings.firstName}}>
                      {{person.person.firstName}}
                    </span>
                    <span property={{person.person.rdfaBindings.firstName}}>
                      {{person.person.familyName}}
                    </span>
                  </ThemisUri>
                </AuHeading>
                <AuHr />
              </c.header>
              <c.content>
                {{#each (sort-by "startDate" person.mandatees) as |mandatee|}}
                  <div rev={{mandatee.rdfaBindings.person}} resource={{mandatee.uri}}
                    typeof={{mandatee.rdfaBindings.class}}>
                    {{#if mandatee.title}}
                      <p>
                        <ThemisUri @uri={{mandatee.uri}}>
                          <span property={{mandatee.rdfaBindings.title}}>
                            {{mandatee.title}}
                          </span>
                        </ThemisUri>
                      </p>
                      <p class="au-u-margin-top-small" resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                        met rangorde
                        <span property={{mandatee.rdfaBindings.priority}}>
                          {{mandatee.priority}}
                        </span>
                      </p>
                    {{else}}
                      <ThemisUri @uri={{mandatee.uri}}>
                        <span property={{mandatee.rdfaBindings.mandate}} resource={{mandatee.mandate.uri}}
                          typeof={{mandatee.mandate.rdfaBindings.class}}>
                          <span property={{mandatee.mandate.rdfaBindings.governmentFunction}}
                            resource={{mandatee.mandate.governmentFunction.uri}}
                            typeof={{mandatee.mandate.governmentFunction.rdfaBindings.class}}>
                            <span property={{mandatee.mandate.governmentFunction.rdfaBindings.label}}>
                              {{mandatee.mandate.governmentFunction.label}}
                            </span>
                          </span>
                        </span>
                      </ThemisUri>
                    {{/if}}
                    <p class="au-u-margin-top-small">
                      van
                      <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                        <span property={{mandatee.rdfaBindings.startDate}}>
                          {{moment-format mandatee.startDate 'DD/MM/YYYY'}}
                        </span>
                        tot
                        <span property={{mandatee.rdfaBindings.endDate}}>
                          {{if mandatee.endDate (moment-format mandatee.endDate 'DD/MM/YYYY') 'heden'}}
                        </span>
                      </span>
                    </p>
                    {{!-- Only for RDFa purposes: Link to government via mandate --}}
                    <div rev={{this.model.rdfaBindings.mandatees}} resource={{this.model.uri}} />
                  </div>
                  <AuHr />
                {{/each}}
              </c.content>
            </AuCard>
          </div>
        {{/each}}
      </div>
    </div>
  {{else if this.mandatesByPerson}}
    {{!-- bestuursorgaan niveau 2--}}
    <div resource={{this.model.uri}} typeof={{this.model.rdfaBindings.class}}>
      <AuHeading class="au-u-margin-bottom-large">
        Legislatuur
        <span property={{this.model.rdfaBindings.startDate}} resource={{this.model.startDate.uri}}
          typeof={{this.model.startDate.rdfaBindings.class}}>
          <span property={{this.model.startDate.rdfaBindings.time}} datatype="xsd:date">
            {{moment-format this.model.startDate.time 'DD/MM/YYYY'}}
          </span>
        </span>
        -
        <span property={{this.model.rdfaBindings.endDate}} resource={{this.model.endDate.uri}}
          typeof={{this.model.endDate.rdfaBindings.class}}>
          <span property={{this.model.endDate.rdfaBindings.time}} datatype="xsd:date">
            {{if this.model.endDate (moment-format this.model.endDate.time 'DD/MM/YYYY') 'heden'}}
          </span>
        </span>
      </AuHeading>
      <p class="au-u-h3 metis-u-text-gray-600" property={{this.model.rdfaBindings.isTimespecializationOf}}
        resource={{this.model.isTimespecializationOf.uri}}
        typeof={{this.model.isTimespecializationOf.rdfaBindings.class}}>
        Tijdspecialisatie van
        <ThemisUri @uri={{this.model.isTimespecializationOf.uri}}>
          <span property={{this.model.isTimespecializationOf.rdfaBindings.name}}>
            {{this.model.isTimespecializationOf.name}}
          </span>
        </ThemisUri>
      </p>
      <AuHr />
      <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
        Regeringsamenstelling
      </AuHeading>
      <div class="au-o-grid">
        {{#each (sort-by "startDate.time" this.model.governmentBodies)  as |governmentBody|}}
          <div class="au-o-grid__item au-u-1-2" rev={{governmentBody.rdfaBindings.isTimespecializationOf}}
            resource={{governmentBody.uri}} typeof={{governmentBody.rdfaBindings.class}}>
            <AuCard as |c|>
              <c.header>
                <AuHeading @level="2" @skin="4">
                  <ThemisUri @uri={{governmentBody.uri}}>
                    <span property={{governmentBody.rdfaBindings.name}}>
                      {{governmentBody.name}}
                    </span>
                  </ThemisUri>
                </AuHeading>
                <p>
                  <span property={{governmentBody.rdfaBindings.startDate}} resource={{governmentBody.startDate.uri}}
                    typeof={{governmentBody.startDate.rdfaBindings.class}}>
                    <span property={{governmentBody.startDate.rdfaBindings.time}} datatype="xsd:date">
                      {{moment-format governmentBody.startDate.time 'DD/MM/YYYY'}}
                    </span>
                  </span>
                  -
                  <span property={{governmentBody.rdfaBindings.endDate}} resource={{governmentBody.endDate.uri}}
                    typeof={{governmentBody.endDate.rdfaBindings.class}}>
                    <span property={{governmentBody.endDate.rdfaBindings.time}} datatype="xsd:date">
                      {{if governmentBody.endDate (moment-format governmentBody.endDate.time 'DD/MM/YYYY') 'heden'}}
                    </span>
                  </span>
                </p>
              </c.header>
            </AuCard>
          </div>
        {{/each}}
      </div>
      <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
        Mandaten
      </AuHeading>

      <div class="au-o-grid">
        {{#each (sort-by "meanMandateePriority" this.mandatesByPerson) as |person|}}
          <div class="au-o-grid__item au-u-1-2" resource={{person.person.uri}}
            typeof={{person.person.rdfaBindings.class}}>
            <AuCard as |c|>
              <c.header>
                <AuHeading @level="2" @skin="4">
                  <ThemisUri @uri={{person.person.uri}}>
                    <span property={{person.person.rdfaBindings.firstName}}>
                      {{person.person.firstName}}
                    </span>
                    <span property={{person.person.rdfaBindings.firstName}}>
                      {{person.person.familyName}}
                    </span>
                  </ThemisUri>
                </AuHeading>
                <AuHr />
              </c.header>
              <c.content>
                {{#each (sort-by "startDate" person.mandatees) as |mandatee|}}
                  <div rev={{mandatee.rdfaBindings.person}} resource={{mandatee.uri}}
                    typeof={{mandatee.rdfaBindings.class}}>
                    {{#if mandatee.title}}
                      <div>
                        <p class="au-u-margin-top-small">
                          <ThemisUri @uri={{mandatee.uri}}>
                            <span property={{mandatee.rdfaBindings.title}}>
                              {{mandatee.title}}
                            </span>
                          </ThemisUri>
                        </p>
                        <p class="au-u-margin-top-small">
                          met rangorde
                          <span property={{mandatee.rdfaBindings.priority}}>
                            {{mandatee.priority}}
                          </span>
                        </p>
                      </div>
                      {{!-- Only for RDFa purposes: Link to government via mandate --}}
                      <div property={{mandatee.rdfaBindings.mandate}} resource={{mandatee.mandate.uri}}
                        typeof={{mandatee.mandate.rdfaBindings.class}}>
                        <div rev={{this.model.rdfaBindings.mandates}} resource={{this.model.uri}} />
                      </div>
                    {{else}}
                      <ThemisUri @uri={{mandatee.uri}}>
                        <span property={{mandatee.rdfaBindings.mandate}} resource={{mandatee.mandate.uri}}
                          typeof={{mandatee.mandate.rdfaBindings.class}}>
                          {{!-- Only for RDFa purposes: Link to government via mandate --}}
                          <span rev={{this.model.rdfaBindings.mandates}} resource={{this.model.uri}} />
                          <span property={{mandatee.mandate.rdfaBindings.governmentFunction}}
                            resource={{mandatee.mandate.governmentFunction.uri}}
                            typeof={{mandatee.mandate.governmentFunction.rdfaBindings.class}}>
                            <span property={{mandatee.mandate.governmentFunction.rdfaBindings.label}}>
                              {{mandatee.mandate.governmentFunction.label}}
                            </span>
                          </span>
                        </span>
                      </ThemisUri>
                    {{/if}}
                    <p class="au-u-margin-top-small">
                      van
                      <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                        <span property={{mandatee.rdfaBindings.startDate}}>
                          {{moment-format mandatee.startDate 'DD/MM/YYYY'}}
                        </span>
                      </span>
                      tot
                      <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                        <span property={{mandatee.rdfaBindings.endDate}}>
                          {{if mandatee.endDate (moment-format mandatee.endDate 'DD/MM/YYYY') 'heden'}}
                        </span>
                      </span>
                    </p>
                  </div>
                  <AuHr />
                {{/each}}
              </c.content>
            </AuCard>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{else}}
  {{!-- bestuursorgaan niveau 1--}}
  <div resource={{this.model.uri}} typeof={{this.model.rdfaBindings.class}}>
    <AuHeading class="au-u-margin-bottom-large">
      <span>
        <span property={{this.model.rdfaBindings.name}}>
          {{this.model.name}}
        </span>
      </span>
    </AuHeading>
    {{#each this.model.classifications as |classification|}}
      <span class="au-u-h3 metis-u-text-gray-600" property={{this.model.rdfaBindings.classifications}}
        resource={{this.model.classifications.uri}} typeof={{this.model.classifications.rdfaBindings.class}}>
        <span property={{this.model.classifications.rdfaBindings.label}}>
          <ThemisUri @uri={{classification.uri}}>
            {{classification.label}}
          </ThemisUri>
        </span>
        {{#if (not-eq classification this.model.classifications.lastObject)}},{{/if}}
      </span>
    {{/each}}
     <p class="au-u-h3 metis-u-text-gray-600">van
      {{#each this.model.governmentUnits as |governmentUnit|}}
        <span class="au-u-h3 metis-u-text-gray-600" property={{this.model.rdfaBindings.governmentUnits}}
          resource={{this.model.governmentUnits.uri}} typeof={{this.model.governmentUnits.rdfaBindings.class}}>

          <span property={{this.model.governmentUnits.rdfaBindings.name}}>
            <ThemisUri @uri={{governmentUnit.uri}}>
              {{governmentUnit.name}}
            </ThemisUri>
          </span>
          {{#if (not-eq governmentUnit this.model.governmentUnits.lastObject)}},{{/if}}
        </span>
      {{/each}}
    </p>
    <AuHr />
    <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
      Legislaturen
    </AuHeading>
    <div class="au-o-grid">
      {{#each (sort-by "startDate.time:desc" this.model.governmentBodies)  as |governmentBody|}}
        <div class="au-o-grid__item">
          <table class="card-table-wrapper">
            <tbody>
              <tr>
                <td>
                  <table class="card-table">
                    <tbody>
                      <tr>
                        <div>
                          <td class="card-table-cell title" rev={{governmentBody.rdfaBindings.isTimespecializationOf}}
                            resource={{governmentBody.uri}} typeof={{governmentBody.rdfaBindings.class}}>
                            <AuHeading @level="2" @skin="4">
                              <ThemisUri @uri={{governmentBody.uri}}>
                                Legislatuur
                              </ThemisUri>
                            </AuHeading>
                            <p>
                              <span property={{governmentBody.rdfaBindings.startDate}}
                                resource={{governmentBody.startDate.uri}}
                                typeof={{governmentBody.startDate.rdfaBindings.class}}>
                                <span property={{governmentBody.startDate.rdfaBindings.time}}>
                                  {{moment-format governmentBody.startDate.time 'DD/MM/YYYY'}}
                                </span>
                              </span>
                              -
                              <span property={{governmentBody.rdfaBindings.endDate}} resource={{governmentBody.endDate.uri}}
                                typeof={{governmentBody.endDate.rdfaBindings.class}}>
                                <span property={{governmentBody.endDate.rdfaBindings.time}}>
                                  {{if governmentBody.endDate (moment-format governmentBody.endDate.time 'DD/MM/YYYY') 'heden'}}
                                </span>
                              </span>
                            </p>
                          </td>
                          <td class="card-table-cell" resource={{governmentBody.uri}}>
                            {{#each (sort-by "startDate.time:desc" governmentBody.governmentBodies) as |governmentBodyL3|}}
                              <div class="au-u-margin-top-small au-u-margin-left-large"
                                rev={{governmentBodyL3.rdfaBindings.isTimespecializationOf}}
                                resource={{governmentBodyL3.uri}} typeof={{governmentBodyL3.rdfaBindings.class}}>
                                <ThemisUri @uri={{governmentBodyL3.uri}}>
                                  Regering
                                  <span property={{governmentBodyL3.rdfaBindings.name}}>
                                    {{governmentBodyL3.name}}
                                  </span>
                                </ThemisUri>
                                <p>
                                  <span property={{governmentBodyL3.rdfaBindings.startDate}}
                                    resource={{governmentBodyL3.startDate.uri}}
                                    typeof={{governmentBodyL3.startDate.rdfaBindings.class}}>
                                    <span property={{governmentBodyL3.startDate.rdfaBindings.time}}>
                                      {{moment-format governmentBodyL3.startDate.time 'DD/MM/YYYY'}}
                                    </span>
                                  </span>
                                  -
                                  <span property={{governmentBodyL3.rdfaBindings.endDate}}
                                    resource={{governmentBodyL3.endDate.uri}}
                                    typeof={{governmentBodyL3.endDate.rdfaBindings.class}}>
                                    <span property={{governmentBodyL3.endDate.rdfaBindings.time}}>
                                      {{if governmentBodyL3.endDate (moment-format governmentBodyL3.endDate.time 'DD/MM/YYYY') 'heden'}}
                                    </span>
                                  </span>
                                </p>
                              </div>
                            {{/each}}
                          </td>
                        </div>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}