{{#if this.model.isTimespecializationOf}}
  {{#if this.model.mandatees}}
    {{!-- bestuursorgaan niveau 3--}}
    <AuHeading class="au-u-margin-bottom-large">
      {{this.model.name}}
    </AuHeading>
    <p class="au-u-h3 metis-u-text-gray-600">
      Tijdspecialisatie van
      <LinkTo @route="view.government-body" @query={{hash resource=this.model.isTimespecializationOf.uri}}>
        {{this.model.isTimespecializationOf.name}}
      </LinkTo>
    </p>
  {{else}}
    {{!-- bestuursorgaan niveau 2--}}
    <AuHeading class="au-u-margin-bottom-large">
      {{this.model.isTimespecializationOf.name}}
    </AuHeading>
    <p class="au-u-h3 metis-u-text-gray-600">
      Legislatuur {{moment-format this.model.startDate.time 'DD/MM/YYYY'}} -
      {{if this.model.endDate (moment-format this.model.endDate.time 'DD/MM/YYYY') 'heden'}}
    </p>
  {{/if}}
{{else}}
  {{!-- bestuursorgaan niveau 1--}}
  <AuHeading class="au-u-margin-bottom-large">
    {{this.model.name}}
  </AuHeading>
  <p class="au-u-h3 metis-u-text-gray-600">
    {{this.model.classification.label}}
  </p>
{{/if}}

<AuHr />

{{#if this.model.isTimespecializationOf}}
  {{#if this.model.mandatees}}
    {{!-- bestuursorgaan niveau 3--}}
    <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
      Mandatarissen
    </AuHeading>
    <p class="au-u-margin-bottom">
      Samenstelling van de regering {{this.model.name}}
    </p>
    <div class="au-u-margin-bottom-large">
      <div class="au-c-data-table">
        <div class="au-c-data-table__wrapper">
          <table class="au-c-data-table__table  au-c-data-table__table--small">
            <thead>
              <tr class="au-c-data-table__header">
                <th class="data-table__header-title">Naam</th>
                <th class="data-table__header-title">Periode</th>
                <th class="data-table__header-title">Bestuursfunctie</th>
                <th class="data-table__header-title">Beleidsdomeinen</th>
              </tr>
            </thead>
            <tbody>
              {{#each (sort-by "person.familyName" this.model.mandatees) as |row|}}
                <tr>
                  <td>
                    <LinkTo @route="view.person" @query={{hash resource=row.person.uri}}>
                      {{row.person.firstName}} {{row.person.familyName}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo @route="view.mandatee" @query={{hash resource=row.uri}}>
                      {{moment-format row.startDate 'DD/MM/YYYY'}}
                      - {{if row.endDate (moment-format row.endDate 'DD/MM/YYYY') 'heden'}}
                    </LinkTo>
                  </td>
                  <td>
                    <ThemisUri @uri={{row.mandate.governmentFunction.uri}}>
                      {{row.mandate.governmentFunction.label}}
                    </ThemisUri>
                  </td>
                  <td>
                    {{#each row.governmentFields as |governmentField|}}
                      <AuPill>
                        <ThemisUri @uri={{governmentField.uri}}>
                          {{governmentField.label}}
                        </ThemisUri>
                      </AuPill>
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{else}}
    {{!-- bestuursorgaan niveau 2--}}
    <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
      Regeringsamenstelling
    </AuHeading>
    <div class="au-o-grid">
      {{#each (sort-by "startDate.time" this.model.governmentBodies)  as |governmentBody|}}
        <div class="au-o-grid__item au-u-1-2">
          <AuCard as |c|>
            <c.header>
              <AuHeading @level="2" @skin="4">
                <LinkTo @route="view.government-body" @query={{hash resource=governmentBody.uri}}>
                  {{governmentBody.name}}
                </LinkTo>
              </AuHeading>
              <p>
                {{moment-format governmentBody.startDate.time 'DD/MM/YYYY'}} -
                {{if governmentBody.endDate (moment-format governmentBody.endDate.time 'DD/MM/YYYY') 'heden'}}
              </p>
            </c.header>
          </AuCard>
        </div>
      {{/each}}
    </div>
    <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
      Mandaten
    </AuHeading>
    <div class="au-o-grid">
      {{#each (sort-by "governmentFunction.label" this.model.mandates)  as |mandate|}}
        <div class="au-o-grid__item au-u-1-2">
          <AuCard as |c|>
            <c.header>
              <AuHeading @level="2" @skin="4">
                {{mandate.governmentFunction.label}}
              </AuHeading>
              <ul>
                {{#each mandate.mandatees as |mandatee|}}
                  <li>
                    <LinkTo @route="view.mandatee" @query={{hash resource=mandatee.uri}}>
                      {{mandatee.person.firstName}} {{mandatee.person.familyName}}
                      {{moment-format mandatee.startDate "DD/MM/YYYY"}} -
                      {{if mandatee.endDate (moment-format mandatee.endDate "DD/MM/YYYY") "heden"}}
                    </LinkTo>
                  </li>
                {{/each}}
              </ul>
            </c.header>
          </AuCard>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{else}}
  {{!-- bestuursorgaan niveau 1--}}
  <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
    Legislaturen
  </AuHeading>
  <div class="au-o-grid">
    {{#each (sort-by "startDate.time:desc" this.model.governmentBodies)  as |governmentBody|}}
      <div class="au-o-grid__item au-u-1-2">
        <AuCard as |c|>
          <c.header>
            <AuHeading @level="2" @skin="4">
              <LinkTo @route="view.government-body" @query={{hash resource=governmentBody.uri}}>
                {{governmentBody.isTimespecializationOf.name}}
              </LinkTo>
            </AuHeading>
            <p>
              {{moment-format governmentBody.startDate.time 'DD/MM/YYYY'}} -
              {{if governmentBody.endDate (moment-format governmentBody.endDate.time 'DD/MM/YYYY') 'heden'}}
            </p>
          </c.header>
          <c.content>
            <AuHr />
            {{#each governmentBody.governmentBodies as |governmentBodyL3|}}
              <p>
                <LinkTo @route="view.government-body" @query={{hash resource=governmentBodyL3.uri}}>
                  {{governmentBodyL3.name}}
                </LinkTo>
              </p>
            {{/each}}
          </c.content>
        </AuCard>
      </div>
    {{/each}}
  </div>
{{/if}}