<div>My custom mandatee template</div>

<AuCard @flex={{true}} as |c|>
  <c.header @badgeIcon="user" @badgeSkin="brand">
    <AuHeading @level="2" @skin="4">
      {{this.model.person.firstname}} {{this.model.person.familyname}}
    </AuHeading>
  </c.header>
  <c.content>
    <AuHr @size="large" />
    Beleidsfunctie: {{this.model.mandate.governmentfunction.label}} <br />
    Regering: {{this.model.mandate.governmentbody.name}} <br />
    {{this.model.mandate.governmentbody.startdate.time}} {{this.model.mandate.governmentbody.enddate.time}} <br />
    Legislatuur: {{this.model.mandate.governmentbody.istimespecializationof.name}}
    {{this.model.mandate.governmentbody.istimespecializationof.startdate.time}}
    {{this.model.mandate.governmentbody.istimespecializationof.enddate.time}} <br />
  </c.content>
</AuCard>