<div resource={{this.model.uri}} typeof={{this.model.rdfaBindings.class}}>
  <AuHeading class="au-u-margin-bottom-large">
    <span property={{this.model.rdfaBindings.firstName}}>
      {{this.model.firstName}}
    </span>
    <span property={{this.model.rdfaBindings.familyName}}>
      {{this.model.familyName}}
    </span>
  </AuHeading>
  <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
    Uitgeoefende mandaten
  </AuHeading>
  <div class="au-o-grid">
    {{#each (sort-by "startDate" this.model.mandatees) as |mandatee|}}
      <div class="au-o-grid__item au-u-1-2" resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
        <AuCard as |c|>
          <c.header>
            {{#if mandatee.title}}
              <p class="au-u-margin-top-small">
                <span property={{mandatee.rdfaBindings.title}}>
                  <LinkTo @route="view.mandatee" @query={{hash resource=mandatee.uri}}>
                    {{mandatee.title}}
                  </LinkTo>
                </span>
              </p>
              <p class="au-u-margin-top-small">met rangorde
                <span property={{mandatee.rdfaBindings.priority}}>
                  {{mandatee.priority}}
                </span>
              </p>
            {{else}}
              <span property={{this.model.rdfaBindings.mandatees}}>
                <LinkTo @route="view.mandatee" @query={{hash resource=mandatee.uri}}>
                  {{mandatee.mandate.governmentFunction.label}}
                </LinkTo>
              </span>
            {{/if}}
            <p class="au-u-margin-top-small">
              in regering
              <span resource={{mandatee.governmentBody.uri}} typeof={{mandatee.governmentBody.rdfaBindings.class}}>
                <span property={{mandatee.governmentBody.rdfaBindings.name}}>
                  <LinkTo @route="view.government-body" @query={{hash resource=mandatee.governmentBody.uri}}>
                    {{mandatee.governmentBody.name}}
                  </LinkTo>
                </span>
              </span>
            </p>
            <p class="au-u-margin-top-small">
              van
              <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                <span property={{mandatee.rdfaBindings.startDate}} datatype="xsd:date">
                  {{moment-format mandatee.startDate 'DD/MM/YYYY'}}
                </span>
              </span>
              tot
              <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                <span property={{mandatee.rdfaBindings.endDate}} datatype="xsd:date">
                  {{if mandatee.endDate (moment-format mandatee.endDate 'DD/MM/YYYY') 'heden'}}
                </span>
              </span>
            </p>
          </c.header>
        </AuCard>
      </div>
    {{/each}}
  </div>
</div>