<div resource={{this.model.uri}} typeof={{this.model.rdfaBindings.class}}>
  <AuHeading class="au-u-margin-bottom-large">
    <span property={{this.model.rdfaBindings.firstName}}>
      {{this.model.firstName}}
    </span>
    <span property={{this.model.rdfaBindings.familyName}}>
      {{this.model.familyName}}
    </span>
  </AuHeading>

  <AuHr @size="large" />

  <div class="au-o-region-large au-o-flow--small">
    <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
      Uitgeoefende mandaten
    </AuHeading>
    <div class="au-u-margin-top">
      <div class="au-o-grid au-o-grid--small au-o-grid--medium@small">
        {{#let (await this.model.mandatees) as |mandatees|}}
          {{#each (sort-by "startDate" mandatees) as |mandatee|}}
            <div class="au-o-grid__item au-u-1-2@small" rev={{mandatee.rdfaBindings.person}} resource={{mandatee.uri}}
              typeof={{mandatee.rdfaBindings.class}}>
              <AuCard as |c|>
                <c.content class="au-o-flow--small">
                  {{#if mandatee.title}}
                    <p>
                      <ThemisUri @uri={{mandatee.uri}}>
                        <span property={{mandatee.rdfaBindings.title}}>
                          {{mandatee.title}}
                        </span>
                      </ThemisUri>
                    </p>
                    <p>met rangorde
                      <span property={{mandatee.rdfaBindings.priority}}>
                        {{mandatee.priority}}
                      </span>
                    </p>
                  {{else}}
                    <ThemisUri @uri={{mandatee.uri}}>
                      <span property={{mandatee.rdfaBindings.mandate}} resource={{mandatee.mandate.uri}}
                        typeof={{mandatee.mandate.rdfaBindings.class}}>
                        <span property={{mandatee.mandate.rdfaBindings.governmentFunction}}
                          resource={{mandatee.mandate.governmentFunction.uri}}
                          typeof={{mandatee.mandate.governmentFunction.rdfaBindings.class}}>
                          <span property={{mandatee.mandate.governmentFunction.rdfaBindings.label}}>
                            {{mandatee.mandate.governmentFunction.label}}
                          </span>
                        </span>
                      </span>
                    </ThemisUri>
                  {{/if}}
                  <p>
                    in regering
                    <span rev={{mandatee.governmentBody.rdfaBindings.mandatees}} resource={{mandatee.governmentBody.uri}}
                      typeof={{mandatee.governmentBody.rdfaBindings.class}}>
                      <ThemisUri @uri={{mandatee.governmentBody.uri}}>
                        <span property={{mandatee.governmentBody.rdfaBindings.name}}>
                          {{mandatee.governmentBody.name}}
                        </span>
                      </ThemisUri>
                    </span>
                  </p>
                  <p>
                    van
                    <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                      <span property={{mandatee.rdfaBindings.startDate}} datatype="xsd:date">
                        {{moment-format mandatee.startDate 'DD/MM/YYYY'}}
                      </span>
                    </span>
                    tot
                    <span resource={{mandatee.uri}} typeof={{mandatee.rdfaBindings.class}}>
                      <span property={{mandatee.rdfaBindings.endDate}} datatype="xsd:date">
                        {{if mandatee.endDate (moment-format mandatee.endDate 'DD/MM/YYYY') 'heden'}}
                      </span>
                    </span>
                  </p>
                </c.content>
              </AuCard>
            </div>
          {{/each}}
        {{/let}}
      </div>
    </div>
  </div>
</div>
<div class="au-o-region-large au-o-flow--small">
  <AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
    Nieuwsberichten
  </AuHeading>
  <NewsItemsTable @person={{this.model.uri}} />
</div>