<AuHeading class="au-u-margin-bottom-large">
  {{this.model.firstName}} {{this.model.familyName}}
</AuHeading>
<AuHeading class="au-u-margin-top au-u-margin-bottom-small word-break--break-all" @level="2" @skin="3">
  Uitgeoefende mandaten
</AuHeading>
<div class="au-o-grid">
  {{#each this.model.mandatees as |mandatee|}}
    <div class="au-o-grid__item au-u-1-2">
      <AuCard as |c|>
        <c.header>
          <AuHeading @level="2" @skin="4">
            <ThemisUri @uri={{mandatee.mandate.uri}}>
              {{mandatee.mandate.governmentFunction.label}}
            </ThemisUri>
          </AuHeading>
          <p>Rangorde {{mandatee.priority}}</p>
          {{#if mandatee.governmentFields}}
            <p class="au-u-margin-top-small">
              van
              {{#each mandatee.governmentFields as |governmentField|}}
                <AuPill>
                  <ThemisUri @uri={{governmentField.uri}}>
                    {{governmentField.label}}
                  </ThemisUri>
                </AuPill>
              {{/each}}
            </p>
          {{/if}}
          <p class="au-u-margin-top-small">
            in regering
            <LinkTo @route="view.government-body" @query={{hash resource=mandatee.governmentBody.uri}}>
              {{mandatee.governmentBody.name}}
            </LinkTo>
          </p>
          <p class="au-u-margin-top-small">
            van
            <LinkTo @route="view.mandatee" @query={{hash resource=mandatee.uri}}>
              {{moment-format mandatee.startDate 'DD/MM/YYYY'}} -
              {{if mandatee.endDate (moment-format mandatee.endDate 'DD/MM/YYYY') 'heden'}}
            </LinkTo>
          </p>
        </c.header>

      </AuCard>
    </div>
  {{/each}}
</div>