<AuApp>
  {{#if this.hasExternallySourcedHeader}}
    <header {{vl-widget this.VO_HEADER_WIDGET_URL}}></header>
  {{else}}
    <AuMainHeader
      @brandLink="https://www.vlaanderen.be/nl"
      @homeRoute="index"
      @appTitle="Themis &mdash; Ontdek gestructureerde informatie over de besluitvorming van de Vlaamse Regering.">
    </AuMainHeader>
  {{/if}}

  <AuMainContainer as |m|>
    <m.content @scroll={{true}}>
      <div>
        {{outlet}}
      </div>
      {{#if this.hasExternallySourcedFooter}}
        <footer {{vl-widget this.VO_FOOTER_WIDGET_URL}}></footer>
      {{else}}
        <AuMainFooter>
          <AuHeading @level="3" @skin="4">Themis</AuHeading>
          <AuContent @skin="small">
            <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-bestuur-buitenlandse-zaken-en-justitie/departement-kanselarij-en-buitenlandse-zaken">Departement Kanselarij en Buitenlandse Zaken</a></p>
          </AuContent>
        </AuMainFooter>
      {{/if}}
    </m.content>
  </AuMainContainer>
</AuApp>