<div class="au-o-layout au-o-region">
  <AuHeading class="au-u-margin-top-huge">Themis</AuHeading>
  <AuHeading class="au-u-margin-top-small" @level="2" @skin="2">
    Open data portaal rond de besluitvorming van de Vlaamse Regering
  </AuHeading>
  <AuHr @size="large" />
  <div class="au-o-region-large au-o-flow--small">
    <AuHeading @level="3" @skin="3">
      Ontdek de data
    </AuHeading>
    <p class="au-c-intro">
      Bekijk de data of ga zelf op zoek
    </p>
    <div class="au-u-margin-top">
      <div class="au-o-grid au-o-grid--small au-o-grid--medium@small">
        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard as |c|>
            <c.header>
              <AuContent>
                <LinkTo @route="view.government-body" @query={{hash
                  resource="http://themis.vlaanderen.be/id/bestuursorgaan/7f2c82aa-75ac-40f8-a6c3-9fe539163025" }}>
                  Bestuursorgaan Vlaamse Regering</LinkTo>
              </AuContent>
            </c.header>
            <c.content>
              <AuContent>
                Bekijk alle legislaturen en regeringsamenstellingen
              </AuContent>
            </c.content>
          </AuCard>
        </div>
        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard as |c|>
            <c.header>
              <AuContent>
                <LinkTo @route="view.government-body" @query={{hash resource=this.model.currentGovernment.uri}}>
                  Regering {{this.model.currentGovernment.name}}
                </LinkTo>
              </AuContent>
            </c.header>
            <c.content>
              <AuContent>
                Bekijk de samenstelling van de huidige Vlaamse Regering
              </AuContent>
            </c.content>
          </AuCard>
        </div>
        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard as |c|>
            <c.header>
              <AuContent>
                <LinkTo @route="sparql">SPARQL Endpoint</LinkTo>
              </AuContent>
            </c.header>
            <c.content>
              <AuContent>
                Ga zelf aan de slag om de data op te zoeken
              </AuContent>
            </c.content>
          </AuCard>
        </div>
        {{#if this.model.mostRecentDataset.meeting}}
          <div class="au-o-grid__item au-u-1-2@small">
            <AuCard as |c|>
              <c.header>
                <AuContent>
                  <ThemisUri @uri={{this.model.mostRecentDataset.dataset.uri}}>
                    Dataset van de ministerraad van
                    {{moment-format this.model.mostRecentDataset.meeting.plannedStart 'DD/MM/YYYY'}}
                  </ThemisUri>
                </AuContent>
              </c.header>
              <c.content>
                <AuContent>
                  Bekijk het kort bestek van de meest recent gepubliceerde ministerraad
                </AuContent>
              </c.content>
            </AuCard>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="au-o-region-large au-o-flow--small">
    <AuHeading @level="3" @skin="3">
      Datasets
    </AuHeading>
    <p class="au-c-intro">
      Soorten datasets op het data portaal
    </p>
    <div class="au-u-margin-top">
      <div class="au-o-grid au-o-grid--small au-o-grid--medium@small">
        {{#each (sort-by "label" this.model.concepts)  as |datasetType|}}
          <div class="au-o-grid__item au-u-1-2@small">
            <AuCard as |c|>
              <c.header>
                <AuContent>
                  <ThemisUri @uri={{datasetType.uri}}>
                    {{datasetType.label}}
                  </ThemisUri>
                </AuContent>
              </c.header>
              <c.content>
                <AuContent>
                  {{datasetType.definition}}
                </AuContent>
              </c.content>
            </AuCard>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="au-o-region-large">
    <div>
      <AuHeading @level="3" @skin="3">
        Documentatie
      </AuHeading>
      <p class="au-u-margin-top-small au-u-margin-bottom-small">
        Lees meer over de data ontsluiting en besluitvormingscatalogus in de
        <LinkTo @route="docs">Themis documentatie</LinkTo>
      </p>
    </div>
  </div>
  <div class="au-o-region-large">
    <p class="au-u-margin-top-small au-u-margin-bottom-small">
      Het open data portaal wordt ondersteund met middelen uit de Faciliteit voor Herstel en Veerkracht van de Europese Unie (RRF).
    </p>
    <img src="/assets/images/logo-rrf.png"/>
  </div>
</div>