<div class="au-o-layout au-o-region">
  <AuHeading class="au-u-margin-top-huge">Themis</AuHeading>
  <AuHeading class="au-u-margin-top-small" @level="2" @skin="2">
    Open data portaal rond de besluitvorming van de Vlaamse Regering
  </AuHeading>
  <AuHr @size="large" />
  <div class="au-o-region-large">
    <AuHeading @level="3" @skin="3">
      Ontdek de data
    </AuHeading>
    <p class="au-c-intro au-u-margin-top-small au-u-margin-bottom-small">
      Bekijk de data of ga zelf op zoek
    </p>
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2">
        <AuCard as |c|>
          <c.header>
            <LinkTo @route="view.government-body" @query={{hash
              resource="http://themis.vlaanderen.be/id/bestuursorgaan/7f2c82aa-75ac-40f8-a6c3-9fe539163025" }}>
              Bestuursorgaan Vlaamse Regering</LinkTo>
          </c.header>
          <c.content>
            Bekijk alle legislaturen en regeringsamenstellingen
          </c.content>
        </AuCard>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuCard as |c|>
          <c.header>
            <LinkTo @route="view.government-body" @query={{hash resource=this.model.currentGovernment.uri}}>
              Regering {{this.model.currentGovernment.name}}
            </LinkTo>
          </c.header>
          <c.content>
            Bekijk de samenstelling van de huidige Vlaamse Regering
          </c.content>
        </AuCard>
      </div>
      <div class="au-o-grid__item au-u-1-2">
        <AuCard as |c|>
          <c.header>
            <LinkTo @route="sparql">SPARQL Endpoint</LinkTo>
          </c.header>
          <c.content>
            Ga zelf aan de slag om de data op te zoeken
          </c.content>
        </AuCard>
      </div>
      {{#if this.model.mostRecentDataset.meeting}}
        <div class="au-o-grid__item au-u-1-2">
          <AuCard as |c|>
            <c.header>
              <ThemisUri @uri={{this.model.mostRecentDataset.dataset.uri}}>
                Dataset van de ministerraad van
                {{moment-format this.model.mostRecentDataset.meeting.plannedStart 'DD/MM/YYYY'}}
              </ThemisUri>
            </c.header>
            <c.content>
              Bekijk het kort bestek van de meest recent gepubliceerde ministerraad
            </c.content>
          </AuCard>
        </div>
      {{/if}}
    </div>
    <div class="au-o-region-large">
      <AuHeading @level="3" @skin="3">
        Datasets
      </AuHeading>
      <p class="au-c-intro au-u-margin-top-small au-u-margin-bottom-small">
        Soorten datasets op het data portaal
      </p>
      <div class="au-o-grid">
        {{#each (sort-by "label" this.model.concepts)  as |datasetType|}}
          <div class="au-o-grid__item au-u-1-2">
            <AuCard as |c|>
              <c.header>
                <ThemisUri @uri={{datasetType.uri}}>
                  {{datasetType.label}}
                </ThemisUri>
              </c.header>
              <c.content>
                {{datasetType.definition}}
              </c.content>
            </AuCard>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="au-o-region-large">
      <div>
        <AuHeading @level="3" @skin="3">
          Documentatie
        </AuHeading>
        <p class="au-u-margin-top-small au-u-margin-bottom-small">
          Lees meer over de data ontsluiting en besluitvormingscatalogus in de
          <LinkTo @route="docs">Themis documentatie</LinkTo>
        </p>
      </div>
    </div>
    <div class="au-o-region-large">
      <p class="au-u-margin-top-small au-u-margin-bottom-small">
        Het open data portaal wordt ondersteund met middelen uit de Faciliteit voor Herstel en Veerkracht van de Europese Unie (RRF).
      </p>
      <img src="/assets/images/logo-rrf.png"/>
    </div>
  </div>
</div>